###> symfony/framework-bundle ###
/.env
/.env.dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE and Editors ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE and Editors ###

###> Composer ###
composer.phar
###< Composer ###

###> System Files ###
Thumbs.db
.DS_Store
###< System Files ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
